html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.col-md-12 {
	padding-right: 0px; 
	padding-left: 0px;
}

#bg-holder {
	width: 100%;
	height: 700px;
	z-index: -2000;
	background: url('../imgs/code-shot.png') top center no-repeat;
	opacity: 0.6;
	position: absolute;
}
#header-content {
	padding-top: 100px;
	padding-bottom: 10%;
	background: transparent;
	color: #efefef;
	width: 100%;
	z-index: 1;
	position: relative;
}
.jumbotron h1 {
	color: #3BD4C9;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
.jumbotron h3 {
	color: #3BD4C9;
	float: right;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
#bio-content {
	padding: 5%;
	width: 100%;
	height: auto;
	background-color: #999999;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0;
}
.navbar ul {
	padding-left: 4%;
}
.media-body {
	padding-top: 20px;
	padding-left: 3%;
	padding-right: 3%;
}

#work-content {
	background-color: #555; 
	width: 100%;
	height: auto;
}
#fe, #fs, #be {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: transparent;
}

#fe a, #fs a, #be a{
	color: #777;
}
#fe a:focus, #fs a:focus, #be a:focus {
	text-decoration: none;
	
}
#fe a:hover, #fs a:hover, #be a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #efefef;
}

#fe, #fs, #be {
  position: relative;
  
}
#fe img, #fs img, #be img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#fe a:hover img, #fs a:hover img, #be a:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#project {
	margin-top: 25%;
	text-align: center;
}

#foot-notes li{
	float: left;
	margin-left: 3%;
}
#foot-notes li a:hover, #foot-notes li a:focus {
	text-decoration: none;
}


#sig {
	text-align: center;
	margin-bottom: 0px;
	font-size: 14px;
	color: #efefef;
	padding-top: 2%;
	padding-bottom: 2%;
}
#top-foot ul {
	padding-left: 5%;
}
#top-foot ul li {
	list-style: none;
}
#top-foot ul li a:hover {
	text-decoration: none;
	color: #333;
}
footer {
	background-color: #333333;
	width: 100%;
	height: auto;
	padding: 2%;
}
.port-content {
	text-align: center;
}
